*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bordercolors: #183b72; /* use for nav bar border color */
  --hovercolor: #4f83ff; /* use for hover effect over btn */
  --gradientcolor: #6fa8ff; /* use for nice gradient color with #183b72 */
  --wordscolor: #1a1a1a;
  --backgroundcolor: #f4f8fc; /* the background color for the body */
  --contactsectioncolor: #f0f4ff; /* can be use for about or contact section */
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--backgroundcolor);
  /* background: linear-gradient(#232526, #414345); */
  overflow-x: hidden;
  color: var(--wordscolor);
}
section {
  height: 100vh;
  max-width: 100%;
  box-shadow: 0 0 1px 1px #e4e4e4;
}
h1 {
  background-image: linear-gradient(
    to right,
    var(--gradientcolor),
    var(--bordercolors)
  );
  background-clip: text;
  color: transparent;
}

/* NAV BAR */
nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0.5rem 1rem;
  width: 80%;
  top: 3.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--bordercolors);
  border-radius: 50px;
  z-index: 100;
}
nav .logo h1 {
  background-image: linear-gradient(
    to bottom right,
    var(--bordercolors),
    var(--gradientcolor)
  );
  background-clip: text;
  color: transparent;
  transition: 0.3s ease-in-out;
}
nav .logo h1:hover {
  background-image: linear-gradient(var(--bordercolors), var(--gradientcolor));
  transform: scale(1.1);
  cursor: pointer;
}
nav .nav-links ul,
li,
a,
.linker {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  gap: 2rem;
  padding: 0.2rem 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--bordercolors);
}
nav .nav-links ul li a:hover {
  background-image: linear-gradient(var(--bordercolors), var(--gradientcolor));
  background-clip: text;
  color: transparent;
}
.off-screen-menu {
  display: none;
}
#ham-nav {
  display: none;
}
.blur {
  display: none;
}

/* HOME SECTION */
#home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10%;
}
#home .text-intro h1 {
  font-size: 5rem;
  background-image: linear-gradient(
    to bottom right,
    var(--bordercolors),
    var(--gradientcolor)
  );
  background-clip: text;
  color: transparent;
}
#home .text-intro p {
  font-weight: bold;
}
#home .btn-intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin-top: 1rem;
}
#home .btn-intro a {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: var(--bordercolors);
  border-radius: 5px;
  color: white;
  width: 10rem;
  height: 2rem;
  transition: 0.3s ease-in-out;
}
#home .btn-intro a:hover {
  background-color: var(--hovercolor);
}
#home .pfp {
  height: 60vh;
  width: 35%;
}
#home .pfp img {
  width: 100%;
  border: 5px solid var(--bordercolors);
  border-radius: 50%;
  box-shadow: 0 0 12px 12px #e4e4e4;
}

/* SKILLS/TECH SECTION */
#skills {
  background-color: var(--contactsectioncolor);
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60vh;
  padding-top: 7rem;
  padding-bottom: 5.5rem;
}
#skills .skillset {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5rem;
}
#skills .skillset img {
  width: 10rem;
  height: 8rem;
  transition: 0.3s ease-in-out;
  border-radius: 50%;
}
#skills .skillset img:hover {
  transform: scale(1.2);
}

/* PROJECT SECTION */
#projects {
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5rem;
  padding-top: 7rem;
}
#projects .proj-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  padding: 5rem;
  padding-top: 3rem;
}
#projects .proj-container .proj-cards {
  position: relative; /* this was needed for the badge */
  min-height: auto;
  width: 50vh;
  border-radius: 15px;
  background-color: white;
  transition: 0.3s ease-in-out;
}
#projects .proj-container #first_project {
  border: 4px solid #715240;
}
#projects .proj-container #second_project {
  border: 5px solid var(--bordercolors);
}
#project .proj-container #third_project {
}
#projects .proj-container .proj-cards .project-btn {
  justify-content: center;
  font-size: 1.3rem;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}
#projects .proj-container .proj-cards #first_project-btn {
  border: 2px solid #715240;
  color: #715240;
  margin-top: 3rem;
}
#projects .proj-container .proj-cards #first_project-btn:hover {
  background-color: #715240;
  color: white;
}
#projects .proj-container .proj-cards #second_project-btn {
  border: 2px solid var(--bordercolors);
  color: #183b72;
}
#projects .proj-container .proj-cards #second_project-btn:hover {
  background-color: var(--bordercolors);
  color: white;
}
#projects .proj-container .proj-cards #third_project-btn {
}
#projects .proj-container .proj-cards #third_project-btn:hover {
}
#projects .proj-container .proj-cards:hover {
  transform: scale(1.1);
}
#projects .proj-container .proj-cards img {
  height: 50%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#projects .proj-container #first_project h3 {
  background-image: linear-gradient(to bottom right, #715240, #a47458);
  background-clip: text;
  color: transparent;
}
#projects .proj-container #second_project h3 {
  background-image: linear-gradient(
    to bottom right,
    var(--bordercolors),
    var(--hovercolor)
  );
  background-clip: text;
  color: transparent;
}
#projects .proj-container .proj-cards p {
  text-align: left;
  margin: 0.5rem 2rem;
}
#projects .proj-container .badge {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 0.3rem 0.8rem;
  background-color: #183b72b0;
  border: 1px solid var(--bordercolors);
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  width: 70%;
}
/* CONTACT SECTION */
#contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  height: 70vh;
  padding-top: 6rem;
  background-color: var(--contactsectioncolor);
}
#contact .about h1 {
  text-align: center;
}
#contact .about {
  justify-content: center;
  align-items: center;
  text-align: justify;
  height: 80%;
  width: 80%;
  margin: 1rem;
  border-right: 2px solid #e4e4e4;
}
#contact .about p {
  margin: 0 5rem;
}
#contact .about .social {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
#contact .contact {
  justify-content: justify;
  align-items: center;
  height: 80%;
  width: 100%;
  margin: 1rem;
}
#contact .contact input {
  margin: 1rem 0;
  height: 5vh;
  width: 80%;
  padding: 1rem;
  border: 3px solid var(--bordercolors);
  border-radius: 10px;
}
#contact .contact #userMESSAGE {
  margin: 1rem 0;
  height: 100px;
  width: 80%;
  padding: 1rem;
  resize: none;
  border: 3px solid var(--bordercolors);
  border-radius: 10px;
}
#contact .contact button {
  margin-left: 60.5%;
  height: 5vh;
  width: 20%;
  background-color: #183b72;
  color: white;
  border: none;
  transition: 0.3s ease-in-out;
}
#contact .contact button:hover {
  background-color: var(--hovercolor);
}

/* FOOTER SECTION */
footer {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: center;
  text-align: center;
  text-align: center;
  background-color: var(--bordercolors);
  color: white;
  padding: 0.5rem 1rem;
  gap: 5px;
}
footer .socials,
.social {
  display: flex;
  color: white;
  font-size: 1rem;
  gap: 5px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  /* NAV BAR */
  #desktop-nav {
    display: none;
  }
  #ham-nav {
    display: flex;
    justify-content: space-between;
    width: 95%;
    top: 2.5rem;
    z-index: 97;
    /* cursor: pointer; */
  }
  #ham-nav .logo h1 {
    font-size: 1.5rem;
  }
  .off-screen-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    top: 0;
    right: -450px;
    height: 100vh;
    max-width: 450px;
    background-color: var(--contactsectioncolor);
    padding: 1.5rem 2rem;
    transition: 0.3s ease-in-out;
  }
  .off-screen-menu-list a {
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    font-size: 1rem;
  }
  .off-screen-menu.active {
    right: 0;
  }
  .blur.active {
    display: block;
    position: fixed;
    z-index: 98;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.408);
    transition: 0.3s ease-in-out;
  }

  /* HOME SECTION */
  #home {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    gap: 1rem;
  }
  #home .text-intro {
    width: 100%;
    padding-bottom: 1rem;
  }
  #home .text-intro h1 {
    font-size: 2.5rem;
  }
  #home .btn-intro {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  #home .btn-intro a {
    width: 90%;
  }
  #home .pfp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    width: 100%;
  }
  #home .pfp img {
    width: 80%;
    max-width: 50vh;
  }

  /* SKILLS/TECH SECTION */
  #skills {
    padding-top: 25%;
    height: auto;
  }
  #skills .skillset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    width: 100%;
    padding: 0 1rem;
  }
  #skills .skillset img {
    width: 75%;
    height: auto;
    margin: 1.2rem;
  }
  #skills .skillset img:hover {
    transform: scale(1);
  }

  /* PROJECT SECTION */
  #projects {
    padding-top: 25%;
    height: auto;
  }
  #projects .proj-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    padding: 5rem;
    padding-top: 5%;
    width: 100%;
  }
  #projects .proj-container .proj-cards {
    width: 90vw;
    font-size: 0.8rem;
  }
  #projects .proj-container .proj-cards:hover {
    transform: scale(1);
  }
  #projects .proj-container .proj-cards h3 {
    font-size: 1.5rem;
  }
  #projects .proj-container .badge {
    width: 80%;
  }

  /* CONTACT SECTION */
  #contact {
    flex-direction: column;
    height: auto;
    width: 100%;
    padding-top: 5rem;
  }
  #contact .about h1 {
    text-align: center;
  }
  #contact .about {
    height: 80%;
    width: 100%;
    margin: 0;
    padding-bottom: 5rem;
    border-bottom: 2px solid #e4e4e4;
  }
  #contact .about p {
    margin: 0 1rem;
  }
  #contact .contact {
    justify-content: justify;
    align-items: center;
    height: 80%;
    width: 100%;
    margin: 2rem 0;
  }
  #contact .contact input {
    width: 90%;
  }
  #contact .contact #userMESSAGE {
    width: 90%;
  }
  #contact .contact button {
    margin: 0 auto;
    width: 90%;
  }
  #contact .contact button:hover {
    background-color: var(--hovercolor);
  }

  /* FOOTER SECTION */
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
    gap: 5px;
  }
  footer .socials,
  .social {
    font-size: 1rem;
    gap: 5px;
    margin: 0 auto;
  }
}

/* TABLET RESPONSIVENESS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* NAV BAR */
  #desktop-nav {
    display: none;
  }
  #ham-nav {
    display: flex;
    justify-content: space-between;
    width: 95%;
    top: 2.5rem;
    z-index: 97;
    /* cursor: pointer; */
  }
  #ham-nav .logo h1 {
    font-size: 1.5rem;
  }
  .off-screen-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    top: 0;
    right: -450px;
    height: 100vh;
    max-width: 450px;
    background-color: var(--contactsectioncolor);
    padding: 1.5rem 2rem;
    transition: 0.3s ease-in-out;
  }
  .off-screen-menu-list a {
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    font-size: 1rem;
  }
  .off-screen-menu.active {
    right: 0;
  }
  .blur.active {
    display: block;
    position: fixed;
    z-index: 98;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.408);
    transition: 0.3s ease-in-out;
  }

  /* HOME SECTION */
  #home {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    gap: 1rem;
  }
  #home .text-intro {
    width: 100%;
    padding-bottom: 1rem;
  }
  #home .text-intro h1 {
    font-size: 2.5rem;
  }
  #home .text-intro p {
  }
  #home .btn-intro {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  #home .btn-intro a {
    width: 90%;
  }
  #home .btn-intro a:hover {
  }
  #home .pfp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    width: 100%;
  }
  #home .pfp img {
    width: 80%;
    max-width: 50vh;
  }

  /* SKILLS/TECH SECTION */
  #skills {
    padding-top: 12%;
    height: auto;
  }
  #skills .skillset {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    width: 100%;
    padding: 0 1rem;
  }
  #skills .skillset img {
    width: 75%;
    height: auto;
    margin: 1.2rem;
  }
  #skills .skillset img:hover {
    transform: scale(1);
  }

  /* PROJECT SECTION */
  #projects {
    padding-top: 12%;
    height: auto;
  }
  #projects .proj-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 5rem;
    padding-top: 5%;
    width: 100%;
  }
  #projects .proj-container .proj-cards {
    width: 100%;
    font-size: 0.8rem;
  }
  #projects .proj-container .proj-cards:hover {
    transform: scale(1);
  }
  #projects .proj-container .proj-cards h3 {
    font-size: 1.5rem;
  }
  #projects .proj-container .badge {
    width: 80%;
  }

  /* CONTACT SECTION */
  #contact {
    flex-direction: column;
    height: auto;
    width: 100%;
    padding-top: 5rem;
  }
  #contact .about h1 {
    text-align: center;
  }
  #contact .about {
    height: 80%;
    width: 100%;
    margin: 0;
    padding-bottom: 5rem;
    border-bottom: 2px solid #e4e4e4;
    text-align: center;
  }
  #contact .about p {
    margin: 0 1rem;
  }
  #contact .contact {
    justify-content: justify;
    align-items: center;
    height: 80%;
    width: 100%;
    margin: 2rem 0;
  }
  #contact .contact input {
    width: 90%;
  }
  #contact .contact #userMESSAGE {
    width: 90%;
  }
  #contact .contact button {
    margin: 0 auto;
    width: 90%;
  }
  #contact .contact button:hover {
    background-color: var(--hovercolor);
  }

  /* FOOTER SECTION */
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
    gap: 5px;
  }
  footer .socials,
  .social {
    font-size: 1rem;
    gap: 5px;
    margin: 0 auto;
  }
}
